@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Cinzel:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-brand: "Cinzel", serif;
  --color-brand: #da1884;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

.prose p {
  @apply mb-4;
}

